<div id="landing-background">


	<div class="jumbotron">
		<h2><%= "You're all set #{current_user.first_name.titleize}." %></h2>
    <h3><%= "Notifications will be sent to #{current_user.phone_number}"  %></h3>
        <%= form_for current_user do |f| %>
        <%= f.label "notifications on/off" %>
        <%= f.check_box :notifications, checked_value: "1", unchecked_value: "0" %><br>
        <%= f.submit value:"save", :class => "btn btn-success" %>
        <% end  %>

        <% if flash[:alert] %>
        <div class="alert alert-success .col-md-6 .col-md-offset-3">
          <%= flash[:alert] %>
        </div>
        <% end %>
	</div>
</div>
