<div id="landing-background">


	<div class="jumbotron">
    <div class="container">
        <% if current_user %>
      <%= link_to "Sign Out", signout_path, method: :delete %>
      <% end %>
		<h2>You're all set <span class="text-primary"> <%= "#{current_user.first_name.titleize}" %></span></h2>

    <h3>Realtime pushes will be sent to</h3>
    <h2 class="text-primary">
    <%="#{number_to_phone(current_user.phone_number, area_code: true)}"  %>
    </h2>
        <%= form_for current_user do |f| %>
        <%= f.label "notifications" %>
        <%= f.check_box :notifications %><br>
        <%= f.submit value:"save", :class => "btn btn-success" %>
        <% end  %>

        <% if flash[:alert] %>
        <div class="text-success">
         <strong> <%= flash[:alert]+"!" %></strong>
        </div>
        <% end %>
        </div>
	</div>
</div>
