<!-- <div id="landing-background"> -->
	<div class="jumbotron">
    <div class="container">
        <% if current_user %>
      <%= link_to "Sign Out", signout_path, method: :delete, :class => "btn btn-danger pull-right" %>
      <% end %>
      <br>
		<h3>You're all set</h3>
    <span> <%= "#{current_user.first_name.titleize}" %></span>

    <h3>Realtime pushes will be sent to</h3>
    <h2 class="text-primary">
    <%="#{number_to_phone(current_user.phone_number, area_code: true)}"  %>
    </h2>
        <%= form_for current_user do |f| %>
        <%= f.label "notifications" %>
        <%= f.check_box :notifications %>
        <%= f.submit value:"save", :class => "btn btn-success" %>
        <% end  %>

        <% if flash[:alert] %>
        <div class="text-success">
         <strong> <%= flash[:alert]+"!" %></strong>
        </div>
        <% end %>
        </div>
	</div>
<!-- </div> -->
