<!DOCTYPE html>
<html>
<head>
  <title>Tabsquared</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Metrophobic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700' rel='stylesheet' type='text/css'>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
  <%= image_tag 'ajax-loader.gif', id: "spinner" %>

  <footer>
    <strong><center>powered by </center></strong>
    <a href="http://www.developer.foursquare.com"><%=image_tag("foursquare.png", width: '170',) %></a> 
    <a href="http://www.twilio.com"><%= image_tag("twilio.png", width: '150',) %></a> 
    <a href="http://www.iron.io"><%= image_tag("iron.png", width: '140') %></a>
    <a href="http://rubyonrails.org/"><%= image_tag("rails.png", width: '70',) %>
    <a href="https://www.ruby-lang.org/en/"><%= image_tag("ruby.png", width: '70',) %>
    <a href="http://www.heroku.com"><%= image_tag("heroku.png", width: '70',) %>
    <a href="http://devbootcamp.com"><%= image_tag("devbootcamp.png", width: '70',) %>
    <a href="http://a16z.com/"><%= image_tag("a16z.png", width: '70',) %>

</footer>
</body>
</html>
